body {
  padding-top: 50px;
  margin-left:10%;
  margin-right:10%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.top_figure {
	text-align: left;
}
.top_figure_table {
}

.body-text1 {
}
.publication-list {
}
